<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body style="margin:0;padding:0;">
    <div
      style="width:100%; margin: 40px auto;font-size:20px; color:#5f5e5e;text-align:center"
    >
      <div>警报</div>
      <div style="font-size:24px;color:rgb(221, 73, 73)"><%= message %></div>
      <div style="font-size:16px;"><%= date %></div>
      <div style="font-size:14px;"><%= useragent %></div>
    </div>
  </body>
</html>
